.hamburger-menu{
    float: right;
    margin-right: 30px;
}
#menu__toggle {
    opacity: 0;
  }
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn {
    @include displayFlex();
    align-items: center;
    position: fixed;
    top: 36px;
    right: 15x;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    @include transition();
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
  
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 30px;
    text-align: left;
    list-style: none;
    background-color: #111;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    @include transition();
}
  
.menu__item {
    display: block;
    padding: 15px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    @include transition();
    text-transform: uppercase;
}
.menu__item:hover {
    opacity: .8;
}