/*----- Footer -----*/
.footer{
    background-color: #111;
    color:#fff;
    min-height: 500px;
    .footer__content{
        margin: 30px auto;
        padding: 30px 15px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: auto auto;
        grid-column-gap: 1%;
        overflow: hidden;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
        .site-branding{
            background: #111;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            img{
                max-width: 140px;
                padding: 15px;
                margin-top: 5px;
            }
        }
        .footer__box{
            
            &:nth-child(5){
                grid-column: 1/ span 1;
            }
            &:nth-child(9){
                &.footer__box--wide{
                    margin-top: 60px;
                }
            }
            &.footer__categories{
                li{
                    &:first-child{
                        text-transform: uppercase;
                        margin-bottom:5px;
                    }
                }
                &:nth-child(6),&:nth-child(7),&:nth-child(8){
                    border-top: 1px solid #fff;
                    padding-top: 15px;
                    display: block;
                }
            }
            &.footer__box--wide{
                grid-column: 1/ span 5;
                text-align: center;
                position: relative;
                margin-top: 30px;

            }
            &.footer__box--inline{
                display: inline-block;
                @include displayFlex();
                justify-content: center;
                &:last-child{
                    li{
                        &:first-child{
                            &::after{
                                content:'';
                                margin-right:5px;
                            }
                        }
                    }
                }
                li{
                    &::after{
                        content:' | ';
                        margin-left:5px;
                        margin-right:5px;
                    }
                    &:last-child{
                        &::after{
                            content:'';
                        }
                    }
                }
            }
            &.footer__box--uppercase{
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .footer{
        .footer__content {
            display: block;
            overflow: hidden;
            text-align: center;
            margin:0;
            .footer__box{        
                &.footer__categories:nth-child(6),
                &.footer__categories:nth-child(7),
                &.footer__categories:nth-child(8) {
                    border-top: 0;
                }
                &.footer__box--inline {
                    display: block;
                    li{
                        &::after {
                            content: '';
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
            
        }
    }

}