    /*----- Header -----*/

    @import 'components/menu-toggle';

    .header{
        position: relative;
        z-index: 1;
        .header__content{
            position: absolute;
            color: white;
            padding: 15px;
            width: 100%;
            display: grid;
            grid-template-columns: 200px auto 150px;
            @include transition();
            .site-branding{
                img{
                    padding-top: 1px;
                    max-width: 160px;
                    image-rendering: -webkit-optimize-contrast;
                }
            }
            .primary-menu{
                @include displayFlex();
                align-items: center;
                li{
                    padding:0 30px 0 0;
                    @include transition();
                    a{
                        text-transform: uppercase;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                        font-size: .9rem;
                    }
                    .line{
                        background: white;
                        height: 1px;
                        display: block;
                        width: 0;
                        @include transition();
                    }
                    &:hover{
                        .line{
                            width: 100%;
                        }
                    }
                }               
            }
            .header-elements{
                text-align: right;
                padding: 20px 15px;
                li{
                    width: 15px;
                    display: inline-block;
                    a{
                        svg{
                            @include transition();
                        }
                        &:hover{
                            
                            svg{
                                
                                @include transformZoom();
                            }
                        }
                    }
                    &:nth-child(2){
                        width: 50px;
                        a{
                            display: inline-flex;
                            width: 15px;
                            margin: 0px 5px;
                        }
                        &::after{
                            content:'|';
                            display: inline-flex;
                            width: 15px;
                        }
                        &::before{
                            content:'|';
                            display: inline-flex;
                            
                        }
                    }
                }
            }
        }
    }

    .header{
        &.sticky{
            
            .header__content{
                position: fixed;
                z-index: 6;
                background: rgba(0,0,0,.5);
                @include transition();
            }
        }
    }
    .header{
        .mobile-menu{
            display: none;
        }
    }



    @media screen and (max-width: 1000px) {

        .header{
            .header__content {
                grid-template-columns: auto auto 30px;
                .primary-menu{
                    display: none;
                }
                .header-elements{
                    li {
                        width: 24px;
                        &:nth-child(2) {
                            width: 35px;
                            &:after,
                            &:before{
                                display: none;
                            }
                            a{
                                width: 24px;
                                svg {
                                    width: 24px !important;
                                }
                            }
                        }
                    }
                    
                }
            }
            .mobile-menu{
                display: block;
                text-align: right;
                order: 2;
            }
        }
      
    }