/* RESET */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, div,
input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
    font-size:inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-family: inherit;
    font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    font-size: 16px;
}
body {
    line-height: 1;
    font-family: "Lato", Arial, sans-serif;
}
ol, ul {
    list-style: none;
    padding:0;
    margin:0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s all;
}
a:visited {
    color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, textarea{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}